<section>
    <h1>Welcome to Ucrs - University Courses Registration System</h1>
    <article>
        <h2>What can we do in it?</h2>
        <div>
            What pages do we have?
            <ul>
                <li><a routerLink="/account/login">Login</a></li>
                <li><a routerLink="/account/register">Register</a></li>
                <li><a routerLink="/user/courses">Courses</a> (available after login) - display and managing of courses</li>
            </ul>

            What will you find on the Courses page?
            <ul>
                <li>Grid with all courses</li>
                <li>First all courses that student is registered in are displayed, then all that the student is not registered in</li>
                <li>Student can create new courses and they appear in the grid immediately</li>
                <li>Student can update a course</li>
                <li>Student can delete a course</li>
                <li>Student can register for course only if a/ student is not already registered; b/ student has less than the max points user can get from registering in each course (100)</li>
            </ul>

            Test credentials
            <ul>
                <li>username: admin@abv.bg</li>
                <li>password: 123456</li>
            </ul>
        </div>
    </article>
</section>
